.snug-shelf,
.snug-stack,
.snug-tarp {
  position: absolute;
  inset: 0;
}

.snug-stack {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.snug-shelf {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  flex-wrap: wrap;
}

.snug-box {
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}

.snug-box.expand {
  flex-grow: 1;
}

/* Without this rule, Boxes with Shelf or Stack children would have
 * zero height/width because Shelf and Stack are
 * absolutely-positioned by default. The absolutely-positioned child
 * would take up no space in the layout.
 */
.snug-box:not(.expand) > :is(.snug-shelf, .snug-stack) {
  position: relative;
}
